.about-me {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  width: 100%;
  height: 100%;
  flex: 1;
}

.about-me > h2 {
  margin: 0;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-s);
  width: 100%;
}

@media (min-width: 40rem) {
  .about-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.about-grid section {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-alt);
  gap: var(--space-xs);
  padding: var(--space-s) var(--space-m);
  padding-bottom: var(--space-m);
  border-radius: var(--radius-xs);
}

.about-grid h3,
.about-education h3 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-heading);
}

.about-me ul {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  padding-left: 0;
}

.about-me li {
  font-size: var(--text-body);
}

.about-education {
  display: flex;
  flex-direction: column;
  width: 100%;
}
