  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    display: flex;
    /* превращаем body в горизонтальный layout */
    min-height: 100vh;
  }

  main {
    flex: 1;
    background-color: var(--color-background);
    padding: var(--padding-inset-l);
    box-sizing: border-box;
    overflow-y: auto;
  }

  header {
    width: 10%;
    background: var(--color-background-alt);
    padding: var(--padding-inset-m);
    display: flex;
    flex-direction: column;
    gap: var(--space-gap-s);
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .hero {
    position: sticky;
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .snippets-section {

  }

  /*Text elements*/

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--h-font-family);
    font-weight: var(--h-font-weight);
    color: var(--color-text);
  }

  h1 {
    font-size: var(--h1-font-size);
    line-height: 160%;
    text-align: center;
  }

  h2 {
    font-size: var(--h2-font-size);
    line-height: 160%;
    padding-bottom: var(--padding-inset-m);
  }

  h3 {
    font-size: var(--h3-font-size);
  }

  h4 {
    font-size: var(--h4-font-size);
  }

  h5 {
    font-size: var(--h5-font-size);
  }

  h6 {
    font-size: var(--h6-font-size);
  }

  p,
  a,
  li {
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: var(--color-text);
    line-height: 160%;
  }